[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/cefz/Documents/7.Dev_curso-expressjs/pruebas-de-endpoints-postman_collection.json
Type=Link
URL=file:///home/cefz/Documents/7.Dev_curso-expressjs/pruebas-de-endpoints-postman_collection.json
Icon=application-json
Name[en_US]=Pruebas-de-endpoints-postman_collection.json
